@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
  --color-gray-one: rgba(255, 255, 255, 0.30);
  --color-gray-two: #E0E0E0;
  --color-gray-three: rgba(207, 207, 207, 0.11);
  --color-blue: #6091FF;
  --bg-blue-dark-one: #273142;
  --bg-blue-dark-two: #1B2431;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", serif;
}

.container {
  width: 1140px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  color: #FFF;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 8px 28px;
}

.error {
  color: red;
}