.cost {
  background: var(--bg-blue-dark-two);
  height: 100%;
}

.cost .title {
  color: #fff;
  font-weight: 700;
  font-size: 3.2rem;
  padding: 15px 0;
}

.action {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action .btn-add {
  background: var(--color-blue);
  border-radius: 10px;
  margin-bottom: 10px;
}