.password {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-blue-dark-two);
}

.password-form {
    width: 408px;
    border-radius: 20px;
    border: 1px solid #313D4F;
    background: var(--bg-blue-dark-one);
    padding: 30px 44px;
}

.password-form .password-logo {
    text-align: center;
}

.password-form .password-control {
    margin: 27px 0;
    padding: 17px 0;
    position: relative;
}

.password-form .password-control::after,
.password-form .password-control::before {
    content: "";
    height: 1px;
    width: 100%;
    background: var(--color-gray-two);
    opacity: 0.21;
    display: block;
    position: absolute;
    left: 0;
}

.password-form .password-control::before {
    top: 0;
}

.password-form .password-control::after {
    bottom: 0;
}

.password-form .password-group {
    margin-bottom: 16px;
}

.password-form .password-group label {
    color: var(--color-blue);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.11%;
    width: 100%;
}

.password-form .password-group input {
    background: var(--color-gray-three);
    color: var(--color-gray-one);
    line-height: 1.33%;
    /* 133.333% */
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    border: none;
    margin-top: 16px;
}

.password-form .password-group .password-error {
    margin-top: 5px;
}

.password-form .forgot-password {
    color: #6091FF;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
}

.password-form .password-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.password-form .password-button .btn-password {
    background: var(--color-blue);
    cursor: pointer;
}